* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000000;
  color: #ffffff;
}

header {
  padding: 20px;
  text-align: center;
}

header input {
  margin-top: 10px;
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: none;
}

.categories {
  text-align: center;
  margin: 20px 0;
}

.categories button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
}

.categories button:hover {
  background: #555;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 60px;
  padding: 20px;
}

.wallpaper {
  background: #000000;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.wallpaper img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.wallpaper a {
  display: block;
  padding: 10px;
  background: #ffffff;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.wallpaper a:hover {
  background: #00acc1;
}

.categories button {
  padding:10px 18px;
  margin:6px;
  border:none;
  background:#222;
  color:white;
  cursor:pointer;
  border-radius:25px;
  font-size:14px;
  transition:all 0.3s ease;
}

.categories button:hover {
  background:#00bcd4;
  color:black;
  transform:scale(1.05);
}

.categories button.active {
  background:#00bcd4;
  color:black;
  box-shadow:0 0 10px #00bcd4;
}

.site-footer {
  background: #111;
  color: #fff;
  padding: 30px 10px;
  margin-top: 40px;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.site-footer h3 {
  margin-bottom: 8px;
  font-size: 22px;
}

.site-footer p {
  font-size: 14px;
  color: #ccc;
}

.footer-links {
  margin: 15px 0;
}

.footer-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #00ffcc;
}

.copyright {
  margin-top: 10px;
  font-size: 13px;
  color: #888;
}
